<!DOCTYPE html>

<html>

<head>
    <title>CovidCare</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Defeat Covid by getting vaccinated</p>
        <form>
            <input placeholder="Pin Code" id="pin">
            <input id="age" placeholder="Age">
            <button>Search</button>
        </form>


        {{!-- 
        Now here we need to render all the information that I have 
         --}}
        {{#each parts}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}

        {{!-- <table cellspacing="1" style="width:100%">

            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Details</th>
                <th>Created</th>
                <th>Action</th>
            </tr>

            {{#if status}}
            <tr id="{{id}}">
                <td>
                    <img id="img_{{id}}" src="{{diseases.images}}">
                    <script>
                        var imgs = ["{{{images}}}"]
                        $("#img_{{id}}").attr('src', imgs[0])
                    </script>
                </td>
                <td>
                    <a href="{{diseases.infoUrl}}">{{diseases.name}}</a>
                </td>
                <td>
                    ID : <b>{{diseases.id}}</b>

                    <p id="tx_{{diseases.id}}"></p>

                    <script>


                        $.get(
                            '/api/dsCategory',
                            { id: "{{categoryId}}" },
                            function (json) {
                                console.log("categoryId " + json);
                                $("#tx_{{id}}").append("Body Part : " + json.name)
                                $.get(
                                    '/api/bodypart',
                                    { id: "{{bodyPartId}}" },
                                    function (json2) {
                                        console.log("bodyPartId " + json2);

                                        $("#tx_{{id}}").append("<br>" + "Category : " + json2.name)
                                    }
                                );



                            }
                        );

                    </script>

                <td>
                    {{diseases.createdAt}}
                </td>
                <td>

                    <a class="abox" style="background-color:#f0513c;"
                        href="/admin_delete?redir=mm_diseases&diseaseid={{diseases.id}}">DELETE</a>
                </td>
            </tr>
            {{else}}
            {{#each diseases}}

            <tr id="{{id}}">
                <td>
                    <img id="img_{{id}}" src="{{image}}">
                    <script>
                        var imgs = ["{{{images}}}"]
                        $("#img_{{id}}").attr('src', imgs[0])
                    </script>
                </td>
                <td>
                    <a href="{{infoUrl}}">{{name}}</a>
                </td>
                <td>
                    ID : <b>{{id}}</b>

                    <p id="tx_{{id}}"></p>

                    <script>


                        $.get(
                            '/api/dsCategory',
                            { id: "{{categoryId}}" },
                            function (json) {
                                console.log("categoryId " + json);
                                $("#tx_{{id}}").append("Body Part : " + json.name)
                                $.get(
                                    '/api/bodypart',
                                    { id: "{{bodyPartId}}" },
                                    function (json2) {
                                        console.log("bodyPartId " + json2);

                                        $("#tx_{{id}}").append("<br>" + "Category : " + json2.name)
                                    }
                                );



                            }
                        );

                    </script>

                <td>
                    {{createdAt}}
                </td>
                <td>

                    <a class="abox" style="background-color:#f0513c;"
                        href="/admin_delete?redir=mm_diseases&diseaseid={{id}}">DELETE</a>
                    <a class="abox" style="background-color:green;" href="/mm_diseases?diseaseId={{id}}">EDIT</a>
                </td>
            </tr>


            {{/each}}
            {{/if}}
        </table> --}}
        <p id="location"></p>
        <p id="forecast"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>

</body>

</html>